.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color: yellowgreen;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color: turquoise;
    padding-left: 15px;   
}
.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: blueviolet;
    font-size: 26px;
    color: tomato;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img{
    margin: 50px 50px;
}
.title img{
    padding: 20px 20px;
    height: 50px;
}